@font-face {  
    font-family: 'woodFont';  
    src: url('resource/3PROT___.TTF');
} 
body{
    color: black;
    margin: 0;
    padding: 0;
    background: rgb(62, 57, 0);
    filter: blur(0px);
    transition: 2s linear;
    position: fixed;
}
body::-webkit-scrollbar{
    display: none;
}
#main{
    transition: 1s linear;
    background: url(resource/BackGround.png);
    height: 100vh;
    width: 100vw;
    margin: 2000px auto;
    position: fixed;
}
#game{
    /* border: 2px solid white; */
    position: fixed;
    transition: 1s linear;
    display: flex;
    margin-top: 2000px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;    
    flex-flow: column;
}
#table{
        /* border: 10px solid white; */
        border-radius: 40px;
        width: 70vw;
        height: 60vh;
        background: url(resource/TableTexture.png);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
}
#points{
    color: burlywood;
    font-family: 'woodFont';
    display: flex;
    font-size: 60px;
    /* border: 2px solid white; */
    width: 100%;
    height: 15%;
    border-radius: 40px 40px 0 0;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 30%;
    align-items: center;
}
.cardHolder{
    background: url(resource/Box.jpg) no-repeat;
    background-size: 100%;
    /* border: 2px solid white; */ 
    border-radius: 7%;
    width: 23%;
    height: 56%;
    position: relative;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardHolder > img{
    width: 40%;
    transition: 0.5S;
    filter: brightness(0.4);
}
#player{
    left:-65%;
    top:105%;
}
#robot{
    right:-65%;
    top:105%;
}
#hands{
    /* border: 5px solid white; */
    position: absolute;
    transition: 1s;
    top: 100%;
    width: 98%;
    height: 35%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
#hands > .cards{
    position: fixed;
    transition: 0.5s linear;
    cursor: pointer;
    border: 10px solid;
    border-radius: 30px;
    width: 13vw;
    height: 27vh;
    filter: opacity(0.6);
}
#hands > .cards:hover{
    filter:opacity(1)
}
#hands > #rock{
    margin-left: -4vw;
    background: url(resource/Rock.png) no-repeat, rgb(255, 237, 43);
    background-size: 100%;
}
#hands > #paper{
    background: url(resource/Paper.png) no-repeat, rgb(255, 237, 43);
    background-size: 100%;
}
#hands > #scissors{
    margin-left: 4vw;
    background: url(resource/Scissors.png) no-repeat, rgb(255, 237, 43);
    background-size: 100%;
}
